---
layout: base
---

{% include "blocks/section-menus/" + layoutSectionMenu + ".njk" %}

<div class="apl-container">
  <main class="mt-8 {{ 'prose prose-purple max-w-none' if layoutContentProse }}">
    <h1 class="apl-page-title">{{ title }}</h1>
    {{ content | safe }}
  </main>
</div>