---
layout: pages/page
---

<div class="apl-container max-w-screen-lg">
  <h1 class="mt-16 apl-page-title">{{ title }}</h1>
  <main class="py-16 {{ 'prose prose-purple max-w-none' if layoutContentProse }}">
    {{ content | safe }}
  </main>
</div>
