---
layout: base
---

<div class="apl-container">

  <h1 class="apl-page-title">{{ title }}</h1>

  <div class="mt-12 lg:grid lg:grid-cols-12 space-x-20 space-y-20 lg:space-y-0">
    <div class="lg:col-span-8">
      <main class="{{ 'prose max-w-none' if layoutContentProse }}">
        {{ content | safe }}
      </main>
    </div>
    <div class="lg:col-span-4">
      <aside class="lg:w-5/6 max-w-sm mx-auto lg:mx-0">
        {% include "blocks/sidebars/" + layoutSidebar + ".njk" %}
      </aside>
    </div>
  </div>

</div>
