---
layout: base
---


<div class="flex">
  <div class="border-r flex-shrink-0 w-72 relative">
    <aside class="">
      {% include "blocks/sidebars/" + layoutLeftSidebar + ".njk" %}
    </aside>
  </div>
  <div class="flex max-w-screen-lg mx-auto">
    <div class="max-w-3/4">
      <main class="{{ 'prose max-w-none' if layoutContentProse }}">
        <h1 class="apl-page-title">{{ title }}</h1>
        {{ content | safe }}
      </main>
    </div>
    <div class="max-w-1/4">
      <aside>
        {% include "blocks/sidebars/" + layoutRightSidebar + ".njk" %}
      </aside>
    </div>
  </div>
</div>
