<section>
  <div class="apl-container max-w-screen-lg flex py-12 flex-col md:flex-row items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="text-3xl sm:text-4xl mb-4 font-medium">{{ navAppName }}</h1>
      <p class="mb-8 leading-relaxed">{{ heroLead }}</p>
      <div class="flex justify-center">
        <a href="/{{ navApp }}/download/" class="apl-btn apl-btn-secondary">Free Download</a>
        {# <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button> #}
        {# <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button> #}
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="{{ heroImage | imgurl }}">
    </div>
  </div>
</section>