{% from "templates/buttons.njk" import iconButton %}

<section>
  <div class="apl-container max-w-screen-lg flex py-12 flex-col md:flex-row items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="text-3xl sm:text-4xl font-medium">{{ navAppName }}</h1>
      <p class="mt-4 leading-relaxed">{{ heroLead }}</p>
      <div class="mt-8">
        {{ iconButton("apl-btn-hero", "/" + navApp + "/download/", "Free Download", "heroicons-solid-download") }}
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded-lg border-2 border-purple-700 p-4" alt="{{ heroImageAlt }}" src="{{ heroImage | imgurl }}">
    </div>
  </div>
</section>