<div class="bg-indigo-800 py-8 text-white">
  <div class="apl-container">
    
    <p class="text-xl sm:text-2xl lg:text-3xl font-semibold">{{ navAppName }} is free and open-source</p>
    <p class="font-medium">Donations are the only way to maintain the application and support its future development.</p>

    <p><a href="/{{ navApp }}/donate/" class="apl-btn apl-btn-hero">Donate</a>
    </div>
  </div>
</div>
