<section class="pt-16 pb-38 text-center text-white">
  <div class="apl-container">
    <p class="text-5xl font-bold">{{ navAppName }}</p>
    <p class="mt-4 text-sm">{{ sectionLead }}</p>
  </div>
</section>