<!doctype html>
<html lang="en">
<head>
  {# Required meta tags #}
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {# SEO #}
  <title>{{ seoTitle }}</title>
  <meta name="description" content="{{ seoDescription }}">
  <link rel="canonical" href="{{ site.url }}{{ canonicalUrl or page.url }}">

  {# Tailwind & Site CSS #}
  <link href="/assets/css/main.css" rel="stylesheet">

  {# Icons, manifest, theme #}
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#000000">

  {# Google Analytics  #}
  {% if site.isProduction %}
    {% include "blocks/common/web-analytics.njk" %}
  {% endif %}
</head>
<body id="site" data-prose="{{ layoutContentProse }}">
  <div class="bg-gray-50">
    <div class="apl-bg-hero text-white">
      {% include "blocks/common/header.njk" %}

      {% if aplHero.template %}
        {% include aplHero.template %}
      {% else %}
        {% include "templates/default-hero.njk" %}
      {% endif %}

      {% if aplSection.menu %}
        {% include "components/section-menu.njk" %}
      {% endif %}

    </div>

    {{ content | safe }}

    {% if aplBottomCTA.template %}
      {% include aplBottomCTA.template %}
    {% endif %}

    {% include "blocks/common/footer.njk" %}
  </div>
</body>
</html>
