{% set sidebarMenuItems = [
  { title: "Overview",              url: "/defectpx/",            icon: "heroicons-outline-clipboard-list"},
  { title: "Reviews",               url: "/defectpx/reviews/",    icon: "heroicons-outline-star" },
  { title: "Help & Support",        url: "/defectpx/help/",       icon: "heroicons-outline-support" },
  { title: "Free Download",         url: "/defectpx/download/",   icon: "heroicons-outline-download" },
  { title: "Donate",                url: "/defectpx/donate/",     icon: "heroicons-outline-shopping-cart" }   
]%}
{% include "components/sidebar-menu.njk" %}
