DefectPX is free and open-source
Donations are the only way to maintain the application and support its future development.
<p><a href="/{{ navApp }}/donate/" class="apl-btn apl-btn-primary">Donate</a></p>