{% set sidebarMenuItems = [
  { title: "Overview",              url: "/defectpx/"},
  { title: "Online Help",           url: "/defectpx/help/"},
  { title: "Reviews and Ratings",   url: "/defectpx/reviews/"},
  { title: "License",               url: "/defectpx/license/"},
  { title: "Free Download",         url: "/defectpx/download/"},
  { title: "Donate",                url: "/defectpx/donate/"}
]%}
{% include "components/sidebar-menu.njk" %}
