<div class="py-2 bg-purple-600 text-white text-center">
  <p class="text-sm">If you like our apps, you can also support us by protecting your privacy with <a href="https://www.east-tec.com/" class="underline">East-Tec products</a>!</p>
</div>