
<footer class="text-gray-400 bg-gray-800">
  <div class="apl-container max-w-screen-lg py-24 flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex font-medium items-center md:justify-start justify-center text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Appliberated</span>
      </a>
      <p class="mt-2 text-sm text-gray-500">Writing and liberating small free open-source apps that want to help.<br><br>With 💜 from Oradea, Romania.</p>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="font-medium text-white tracking-widest text-sm">APPS</h2>
        <nav class="mt-4 space-y-4 list-none">
          <li>
            <a href="/apps/" class="text-gray-400 hover:text-white">Apps</a>
          </li>
          <li>
            <a href="/defectpx/" class="text-gray-400 hover:text-white">DefectPX</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="font-medium text-white tracking-widest text-sm">REVIEWS</h2>
        <nav class="mt-4 space-y-4 list-none">
          <li>
            <a href="/reviews/" class="text-gray-400 hover:text-white">Reviews</a>
          </li>
          <li>
            <a class="text-gray-400 hover:text-white">Awards</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="font-medium text-white tracking-widest text-sm">CONTACT</h2>
        <nav class="mt-4 space-y-4 list-none">
          <li>
            <a href="/contact/" class="text-gray-400 hover:text-white">Contact</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="font-medium text-white tracking-widest text-sm">ABOUT</h2>
        <nav class="mt-4 space-y-4 list-none">
          <li>
            <a href="/about/" class="text-gray-400 hover:text-white">About</a>
          </li>
          <li>
            <a href="/about/privacy/" class="text-gray-400 hover:text-white">Privacy</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</footer>
