<footer class="mt-24 py-16 bg-dark-footer">
  <div class="apl-container">
    <div class="grid grid-cols-12">
      <div class="col-span-5">
        <nav>
          <a href="/support/" class="px-4 py-2 inline-block uppercase font-semibold text-gray-500 hover:text-white transition-colors duration-500">Support</a>
          <a href="/about/" class="px-4 py-2 inline-block uppercase font-semibold text-gray-500 hover:text-white transition-colors duration-500">About</a>
          <a href="/legal/privacy/" class="px-4 py-2 inline-block uppercase font-semibold text-gray-500 hover:text-white transition-colors duration-500">Privacy Policy</a>
        </nav>
      </div>
      <div class="col-span-2">

      </div>
      <div class="col-span-5">

      </div>
    </div>
  </div>
</footer>
