<header class="px-4 py-4 border-b border-et-gray">
  <div class="sm:flex sm:items-center sm:justify-between">
    <a class="text-xl italic font-semibold tracking-widest" href="{{ '/' | url }}">
      <span class="font-bold text-purple-600">APP</span>LIBERATED
    </a>

    <nav class="font-medium">
      <a class="inline-block px-4 py-1 hover:text-purple-600" href="/">Home</a>
      <a class="inline-block px-4 py-1 hover:text-purple-600" href="/apps/">Apps</a>
      <a class="inline-block px-4 py-1 hover:text-purple-600" href="/reviews/">Reviews</a>
      <a class="inline-block px-4 py-1 hover:text-purple-600" href="/support/">Support</a>
      <a class="inline-block px-4 py-1 hover:text-purple-600" href="/company/">About</a>
    </nav>
  </div>
</header>
