<header class="text-white">
  <div class="apl-container">
    <div class="py-6 border-b border-purple-400 sm:flex sm:items-center sm:justify-between">
      <a class="text-xl italic font-semibold tracking-widest" href="{{ '/' | url }}">
        <span class="font-bold">APP</span>LIBERATED
      </a>

      <nav class="font-medium">
        <a class="inline-block px-4 py-1 hover:text-yellow-300 transition-colors duration-500" href="/">Home</a>
        <a class="inline-block px-4 py-1 hover:text-yellow-300 transition-colors duration-500" href="/apps/">Apps</a>
        <a class="inline-block px-4 py-1 hover:text-yellow-300 transition-colors duration-500" href="/reviews/">Reviews</a>
        <a class="inline-block px-4 py-1 hover:text-yellow-300 transition-colors duration-500" href="/support/">Support</a>
        <a class="inline-block px-4 py-1 hover:text-yellow-300 transition-colors duration-500" href="/company/">About</a>
      </nav>

      <a href="/{{ navApp }}/donate/" class="apl-btn apl-btn-hero">Donate</a>
    </div>
  </div>
</header>
