---
seoTitle: DefectPX Reviews
seoDescription: 
title: Reviews
---

{% from "templates/review-list.njk" import reviewList %}

{% set reviews = [
  {
    source: "Softpedia",
    url: "https://www.softpedia.com/get/Desktop-Enhancements/Other-Desktop-Enhancements/DefectPX.shtml",
    quote: "A small but very useful application which allows you to easily check for dead or defective pixels on LCD monitors."
  },
  {
    source: "Technix Update",
    url: "http://web.archive.org/web/20090704053519/https://www.technixupdate.com/defectpx-find-detect-and-fix-dead-pixel-on-lcd-monitor/",
    quote: "This small tool is completely portable and does not require any installation, so just run the program; optionally you can also download the installer which lets you install this program like any other software."
  },
  {
    source: "List of Freeware",
    url: "https://listoffreeware.com/free-dead-pixel-test-software-windows/",
    extra: "Nishant Gola, Author",
    quote: "DefectPX is another simple application to find a dead pixel. Simply launch the application and click anywhere on the screen to change the color."
  },
  {
    source: "JeTelecharge",
    url: "https://www.jetelecharge.com/Utilitaires/2966.php",
    extra: "translated from French",
    quote: "Easily detect a faulty or dead pixel on an LCD screen. The tool displays a black, white, red, green, blue or whatever color you want in full screen to see a defective pixel on the LCD."
  },
  {
    source: "Prim hírek",
    url: "http://hirek.prim.hu/cikk/74344/",
    extra: "<b>Recommended Download</b><br>translated from Hungarian",
    quote: "One of the diseases of LCD monitors is the pixel defect, which can be easily filtered out with this small program."
  }
]%}
{{ reviewList(reviews) }}

<!-- ## In the Media 





## Also featured on * [Technize](https://www.technize.info/3-ways-to-test-your-lcd-monitor-for-defective-pixels/) * [Freeware-base.de](https://www.freeware-base.de/freeware-zeige-details-23209-DefectPX.html) -->