---
seoTitle: Privacy Policy
seoDescription:
title: Privacy Policy

aplHero:
  title: Privacy Policy

layoutContentProse: true
---

<p class="font-bold">No cookies!</p>

<p>No ads. No Google Analytics. No contact forms.</p>

<p>No personal information is collected.</p>

<p>No information is shared with third parties.</p>